<!DOCTYPE html>
<html>
    <style type="text/css">
        #wpisy
        {
	        position: relative;
	        text-align:center;
	    }
	    #calosc
	    {
	        margin: 0 auto;
	        background-color: green;
	    }

	    *.odstep
	    {
	        padding: 10px;
	        position: relative;
	        text-align:center;
	    }
    </style>
    <head>
        <title>mBlog</title>
    </head>
    <body id="calosc">
            <h1 class="odstep">Witaj na stronce mBlog</h1>
            <div class="odstep"><a href='/login'>Logowanie</a></div>
            <div class="odstep"><a href='/register'>Rejestracja</a></div><hr />
    </body>
</html>