<!DOCTYPE html>
<html>
    <style type="text/css">
        #wpisy
        {
	        position: relative;
	        text-align:center;
	    }
	    #calosc
	    {
	        margin: 0 auto;
	        background-color: green;
	    }

	    *.odstep
	    {
	        padding: 10px;
	    }
	    *.na_srodek
	    {
	        position: relative;
	        text-align:center;
	    }
    </style>
    <head>
        <title>mBlog:{{ login }} </title>
    </head>
    <body id="calosc">
        <form action="/~p6/wsgi/blog" method="post">
            <h1 class="odstep">Witaj {{ login }}</h1>
            <div class="odstep"><a href='/'>Wyloguj</a></div><hr />
            <div>{{ x }}</div>
        </form>
    </body>
</html>