<!DOCTYPE html>
<html>
    <head>
        <title>Lista Urzytkowników</title>
    </head>
    <body>
        <h1>Lista urzytkowników</h1>
            % for i in ludzie:
                <p>- {{ i.imie }} {{ i.nazwisko }} {{ i.login }} {{ i.haslo }}<p>
            % end
    </body>
</html>